{% extends "main.html" %}
{% block content %}
<h1>Delete</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method = "post">
  <dl>
    {% for child in form.items %}
      {% for sub in child %}
        {% if sub.label.text == "Delete" %}
          {{render_field(sub)}}
        {% elif sub.label.text != "Entry Id"%}
          {{sub.label}}<br/>
          {{sub.data}}<br/><br/>
        {% endif %}
      {% endfor %}
      <br/>
    {% endfor %}
    <p><input type="submit" value="Save">
</form>
{% endblock %}
