{% extends "main.html" %}
{% block content %}
<form action="" method="post">
  {% for item in menu_items%}
    <label for="name">Name:</label>
    <input type="text" maxlength="100" name="name" placeholder="{{item.name}}">
    <label for="description">Description</label>
    <input type="text" name="description" maxlength="200" placeholder="{{item.description}}">
    <label for="price">Price</label>
    <input type="text" name="price" maxlength="20" placeholder="{{item.price}}">
    <label for="course">Course</label>
    <select name="course">
        {% for course in courses %}
          {% if course == item.course %}
            <option selected="selected" value="{{course}}">
              {{course}}
            </option>
          {% else %}
          <option value="{{course}}">
            {{course}}
          </option>
          {% endif %}
        {% endfor %}
    </select>
    <br/>
    {% endfor %}
    <input type="submit" id="submit" type="submit" value="Submit">
</form>
{% endblock %}
