{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1>
    {% for message in messages %}
      {{message}}
    {% endfor %}
    </h1>
  {% endif %}
{% endwith %}

<form action="" method = "post">
      <label for="name">Name:</label>
      <input type ="text" maxlength="100" name="name">
      <label for="description">Description</label>
      <input type="text" name="description" maxlength="200">
      <input type="submit" id="submit" type="submit" value="Submit">
    </form>
{% endblock %}
