{% extends "main.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h1>
    {% for message in messages %}
      {{message}}
    {% endfor %}
    </h1>
  {% endif %}
{% endwith %}

  <h1>Restaurants</h1>
  {% if  restaurants|length > 0 %}
      <ul>
          {% for restaurant in restaurants %}
            <li>
              <a href="{{url_for('menu', restaurant_id=restaurant.id)}}">{{restaurant.name}}</a><br/>
              description: {{restaurant.description}}
            </br/>
            </li>
          {% endfor %}
      </ul>
    {% else %}
      <h1>There are no restaurants right now!</h1>
  {% endif %}
{% endblock %}
